body(ng-controller="InitialInfoCtrl")
    .col-lg-4
        div.list-group
            a.list-group-item
                | Main information
            a.list-group-item
                | Purpose of calculations
            a.list-group-item
                | Application And Processes

    div Valittiin maa: {{report.customerName}}
